<!DOCTYPE html>
<html lang="pt-BR">
    <head>
    
        <%- include('../partials/header') %>
        <link rel="stylesheet" href="">

    </head>

    <body>

        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h1>Recuperar Senha. </h1>
                    <hr><br>

                    <%- if(success) { %>
                        <div class="alert alert-success">
                            <%= success %>
                        </div>
                        <div class="text-center">
                            <h3>Agora  pode fazer seu login novamente</h3>
                        </div>
                    <%- } %>

                    <%- if(error) { %>
                        <div class="alert alert-danger">
                            <%= error %>
                        </div>
                    <%- } %>

                    <%- if(!success) { %>

                       
                    <p> Digite aqui sua nova senha.</p>

                    <form action="/api/v1/usuarios/senha-recuperada" method="post">

                        <input type="hidden" name="token" value="<=% token %>">
                        <div class="form-group">
                            <input 
                                type="password" 
                                name="email" 
                                class="form-control" 
                                placeholder="Digite sua nova senha..">
                        </div>

                        <button class="btn btn-primary">
                            Recuperar Senha
                        </button>

                        <% } %>

                    </form>
                </div>
            </div>
        </div>
        
    </body>
</html>